section#newsWrapper {
    z-index: 200;
}
    section#newsWrapper #newsPullOut {
        position: absolute;
        right: -44px;
        bottom: 50px;
        padding: 20px 10px;
        background: black;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        opacity: .4;
        -o-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -webkit-transition: all 0.5s;
        transition: all ease-in 0.5s;
        -webkit-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.55);
        -moz-box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.55);
        box-shadow: 0px 0px 6px rgba(50, 50, 50, 0.55);
        border: 1px solid rgba(255, 255, 255, .65);
        z-index: 200;
    }

        section#newsWrapper #newsPullOut:hover {
            opacity: .9;
            padding: 20px 55px 20px 10px;
        }

        section#newsWrapper #newsPullOut .leftArrow {
            width: 0;
            height: 0;
            margin: 0 auto;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-right: 8px solid white;
            display: inline-block;
            vertical-align: middle;
        }

        section#newsWrapper #newsPullOut .newsText {
            margin-left: 6px;
            display: inline-block;
            color: white;
            vertical-align: middle;
            font-size: .9em;
            font-family: Arial;
        }

    section#newsWrapper #newsContainer {
        position: fixed;
        display: none;
        right: -400px;
        bottom: 0px;
        width: 400px;
        opacity: .865;
        z-index: 210;
        height: 100%;
        -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.55);
        -moz-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.55);
        box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.55);
        border: 2px solid rgba(255, 255, 255, .8);
        border-right: none;
        border-radius: 10px 0 0 10px;
        /*for inside border*/
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        /*-----------------------*/
        background: #323232;
        background: -moz-linear-gradient(top, #323232 0%, #0d0d0d 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#323232), color-stop(100%,#0d0d0d));
        background: -webkit-linear-gradient(top, #323232 0%,#0d0d0d 100%);
        background: -o-linear-gradient(top, #323232 0%,#0d0d0d 100%);
        background: -ms-linear-gradient(top, #323232 0%,#0d0d0d 100%);
        background: linear-gradient(to bottom, #323232 0%,#0d0d0d 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323232', endColorstr='#0d0d0d',GradientType=0 );
    }

        section#newsWrapper #newsContainer p {
            font-size: .9em;
            margin: 10px 20px;
        }

        section#newsWrapper #newsContainer p:first-child {
            margin-top: 20px;
        }

            section#newsWrapper #newsContainer p.mainText {
                text-align: center;
                margin: 10px auto;
            }

#newsClose {
    position: absolute;
    top: 12px;
    right: 10px;
    cursor: pointer;
    opacity: .5;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

    #newsClose:hover {
        opacity: 1;
    }

.divider {
    height: 1px;
    background-image: url("../images/divider_400w.png");
    content: "&nbsp;";
    opacity: .35;
}
