body {
    background: transparent;
}

#page1 {
    background: rgba(102, 45, 145, 0.6);
}

#page2 {
    background: rgba(140, 198, 63, 0.6);
}

#page3 {
    background: rgba(57, 181, 74, 0.6);
}

#page4 {
    background: rgba(193, 39, 45, 0.6);
}

#page5 {
    background: rgba(41, 171, 226, 0.6);
}

#page6 {
    background: rgba(0, 113, 188, 0.6);
}

#page7 {
    background: rgba(0, 183, 241, 0.58);
}

#page8 {
    background: rgba(247, 147, 30, 0.6);
}

#page9 {
    background: rgba(241, 90, 36, 0.6);
}

#page1, #page3, #page5, #page7, #page9, #page2, #page4, #page6, #page8 {
    background: transparent;
}

.sub {
    width: 100%;
    height: 100%;
}

.goto {
    padding: 10px;
    border: 2px solid rgba(0,0,0, .2);
    margin-top: 10px;
    background: rgba(0,0,0, .2);
}

#overview {
    overflow: hidden;
    width: 1280px;
    height: 820px;
    margin: 0 auto;
    color: rgba(0,0,0, .65);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.25);
}

.mainPage menu {
    display: table-cell;
    vertical-align: middle;
}

#overview h1 {
    color: white;
    margin-bottom: 30px;
    text-align: center;
    font: normal 330% 'Quicksand', Vedana, sans-serif;
}

    #overview h1 + p {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }


#overview h2 {
    color: white;
    margin: 40px 60px 20px;
    font: normal 300% 'Quicksand', Vedana, sans-serif;
}


.section .sub h3 {
    font-size: 130%;
    font-family: 'Gill Sans MT', Arial, Verdana, sans-serif;
    margin: 30px 70px 0;
    font-weight: bold;
    color: white;
}

.section .sub p {
    font-size: 140%;
    line-height: 140%;
    margin: 18px 0 0 80px;
    width: 80%;
    color: white;
    font-family: 'amblelight';
}

    .section .sub p ~ p {
        margin-top: 5px;
    }

    .section .sub p small {
        font-size: 80%;
    }

.section .sub h3 + p {
    margin-top: 8px;
}

.section .sub ul {
    font-size: 120%;
    line-height: 140%;
    margin: 5px 40px;
    list-style-type: disc;
}

.section .sub img {
    display: inline-block;
}

#overview .section .sub #mainImg {
    vertical-align: central;
    margin: 12px auto;
    display: block;
}

.mainPage {
    display: table;
}

.section {
    width: 3840px;
    position: relative;
}

    .section .sub {
        position: relative;
        float: left;
        width: 1280px;
        height: 820px;
        overflow: hidden;
    }

/*#page7 h3 {
    color: rgba(31, 100, 175, 1);
}*/

#overview a:link, #overview a:visited {
    color: inherit;
}

.link {
    font-weight: bold;
    color: white;
    padding: 5px;
    text-decoration: none;
    font-size: 120%;
}

#overview .section .sub p.width-30p {
    width: 30%;
}
/*Specific page styles*/
/*li#page9.sub h3 {
    color: rgb(100, 58, 4);
}*/

/*li#page7.sub a:link {
    color: rgb(36, 89, 202);
}*/

#overview li.sub.supportedFormats h3 {
    font-size: 120%;
    margin-top: 10px;
}

    #overview li.sub.supportedFormats h3 + p {
        font-size: 110%;
    }


/*Overview Graphic Classes*/
#overview .fileFormat {
    background: url(../images/pages/overview/file-format.svg) no-repeat;
    width: 40%;
    height: 35%;
    position: absolute;
    margin: 0;
    padding: 0;
    right: 160px;
    bottom: 60px;
}

#overview .connectSearch {
    background: url(../images/pages/overview/connect-search.svg) no-repeat;
    width: 90%;
    height: 85%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 20px;
    bottom: 50px;
}

#overview .multimediaSearch {
    background: url(../images/pages/overview/multimedia-search.svg) no-repeat;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50px;
    bottom: 45px;
}

#overview .filesSearch {
    background: url(../images/pages/overview/files-search.svg) no-repeat;
    width: 80%;
    height: 80%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 140px;
    bottom: -50px;
}


#overview .uidImage {
    background: url(../images/pages/overview/uid.svg) no-repeat;
    width: 60%;
    height: 60%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 140px;
    bottom: 60px;
}

#overview .playImage {
    background: url(../images/pages/overview/mme-player.svg) no-repeat;
    width: 65%;
    height: 73%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 160px;
    bottom: 25px;
}

#overview .connectShare {
    background: url(../images/pages/overview/connect-share.svg) no-repeat;
    width: 75%;
    height: 60%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 90px;
    bottom: 30px;
}

#overview .filesShare {
    background: url(../images/pages/overview/files-share.svg) no-repeat;
    width: 75%;
    height: 60%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 90px;
    bottom: 30px;
}

#overview .multimediaShare {
    background: url(../images/pages/overview/multimedia-share.svg) no-repeat;
    width: 75%;
    height: 60%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 90px;
    bottom: 30px;
}

#overview .multimediaEdit {
    background: url(../images/pages/overview/multimedia-edit.svg) no-repeat;
    width: 75%;
    height: 70%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 80px;
    bottom: 30px;
}

#overview .multimediaConvert {
    background: url(../images/pages/overview/multimedia-convert.svg) no-repeat;
    width: 75%;
    height: 70%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 85px;
    bottom: 30px;
}

#overview .multimediaOrganize {
    background: url(../images/pages/overview/multimedia-organize.svg) no-repeat;
    width: 75%;
    height: 70%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 85px;
    bottom: 30px;
}

#overview .connectCommunicate {
    background: url(../images/pages/overview/connect-communicate.svg) no-repeat;
    width: 80%;
    height: 70%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 80px;
    bottom: 40px;
}

#overview .filesView {
    background: url(../images/icons/overview/view.svg) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 180px;
    bottom: -100px;
}

#overview .filesManage {
    background: url(../images/pages/overview/files-manage.svg) no-repeat;
    width: 85%;
    height: 65%;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 45px;
    bottom: 25px;
}

#overview .icons {
    background: url(../images/pages/icons.svg) no-repeat;
    width: 50%;
    height: 10%;
    position: absolute;
    left: 90px;
    bottom: 80px;
}
