# Handle line endings automatically for files detected as
# text and leave all files detected as binary untouched.
* text=auto

# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.css           text
*.htm           text
*.html          text
*.js            text
*.json          text
*.sh            text
*.txt           text
*.xml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.dll           binary
*.gif           binary
*.ico           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.zip           binary
*.bmp           binary
*.dds           binary
*.hdr           binary
*.mng           binary
*.pcx           binary
*.psd           binary
*.tiff          binary
*.tif           binary
*.xpm           binary