# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# These files are text and should be normalized (Convert crlf => lf)
*.asm           text
*.c             text
*.c++           text
*.cc            text
*.cp            text
*.cpp           text
*.cs            text
*.css           text
*.cxx           text
*.ebnf          text
*.go            text
*.g4            text
*.h             text
*.h++           text
*.hh            text
*.hp            text
*.hpp           text
*.htm           text
*.html          text
*.hxx           text
*.i             text
*.ii            text
*.inc           text
*.java          text
*.js            text
*.json          text
*.lua           text
*.m             text
*.mi            text
*.mii           text
*.mm            text
*.pas           text
*.php           text
*.py            text
*.rc            text
*.S             text
*.sh            text
*.swift         text
*.sx            text
*.tcc           text
*.ts            text
*.txt           text
*.vb            text
*.vcp           text
*.vcpp          text
*.vls           text
*.vpp           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.dll           binary
*.so            binary
*.zip           binary
*.res           binary
*.xml           binary
*.o             binary
*.tdf           binary
*.doc           binary
*.docx          binary
*.pdf           binary
*.bmp           binary
*.cif           binary
*.dds           binary
*.gif           binary
*.hdr           binary
*.img           binary
*.jng           binary
*.jp2           binary
*.jpg           binary
*.mng           binary
*.pam           binary
*.pcx           binary
*.pfm           binary
*.pgm           binary
*.png           binary
*.ppm           binary
*.psd           binary
*.tga           binary
*.tif           binary
*.xpm           binary
*.wav           binary
*.mp3           binary
*.mp4           binary