# Temporary ignores
___*.*
asm/
assets/
c11/
clj/
cpp/
cs/
es/
go/
java/
lisp/
lua/
pas/
php/
py/
scm/
sql/
swift/
ts/
vbn/
package.json

# The Document Foundation
*.tdf   # Ignore for now

# Music Language translations
ar-SA.json
bg-BG.json
ca-ES.json
zh-TW.json
cs-CZ.json
da-DK.json
de-DE.json
el-GR.json
es-ES_tradnl.json
fi-FI.json
fr-FR.json
he-IL.json
hu-HU.json
is-IS.json
it-IT.json
ja-JP.json
ko-KR.json
nl-NL.json
nb-NO.json
pl-PL.json
pt-BR.json
rm-CH.json
ro-RO.json
ru-RU.json
hr-HR.json
sk-SK.json
sq-AL.json
sv-SE.json
th-TH.json
tr-TR.json
ur-PK.json
id-ID.json
uk-UA.json
be-BY.json
sl-SI.json
et-EE.json
lv-LV.json
lt-LT.json
tg-Cyrl-TJ.json
fa-IR.json
vi-VN.json
hy-AM.json
az-Latn-AZ.json
eu-ES.json
hsb-DE.json
mk-MK.json
tn-ZA.json
xh-ZA.json
zu-ZA.json
af-ZA.json
ka-GE.json
fo-FO.json
hi-IN.json
mt-MT.json
se-NO.json
ms-MY.json
kk-KZ.json
ky-KG.json
sw-KE.json
tk-TM.json
uz-Latn-UZ.json
tt-RU.json
bn-IN.json
pa-IN.json
gu-IN.json
or-IN.json
ta-IN.json
te-IN.json
kn-IN.json
ml-IN.json
as-IN.json
mr-IN.json
sa-IN.json
mn-MN.json
bo-CN.json
cy-GB.json
km-KH.json
lo-LA.json
gl-ES.json
kok-IN.json
syr-SY.json
si-LK.json
iu-Cans-CA.json
am-ET.json
ne-NP.json
fy-NL.json
ps-AF.json
fil-PH.json
dv-MV.json
ha-Latn-NG.json
yo-NG.json
quz-BO.json
nso-ZA.json
ba-RU.json
lb-LU.json
kl-GL.json
ig-NG.json
ii-CN.json
arn-CL.json
moh-CA.json
br-FR.json
ug-CN.json
mi-NZ.json
oc-FR.json
co-FR.json
gsw-FR.json
sah-RU.json
qut-GT.json
rw-RW.json
wo-SN.json
prs-AF.json
gd-GB.json
ar-IQ.json
zh-CN.json
de-CH.json
en-GB.json
es-MX.json
fr-BE.json
it-CH.json
nl-BE.json
nn-NO.json
pt-PT.json
sr-Latn-CS.json
sv-FI.json
az-Cyrl-AZ.json
dsb-DE.json
se-SE.json
ga-IE.json
ms-BN.json
uz-Cyrl-UZ.json
bn-BD.json
mn-Mong-CN.json
iu-Latn-CA.json
tzm-Latn-DZ.json
quz-EC.json
ar-EG.json
zh-HK.json
de-AT.json
en-AU.json
es-ES.json
fr-CA.json
sr-Cyrl-CS.json
se-FI.json
quz-PE.json
ar-LY.json
zh-SG.json
de-LU.json
en-CA.json
es-GT.json
fr-CH.json
hr-BA.json
smj-NO.json
ar-DZ.json
zh-MO.json
de-LI.json
en-NZ.json
es-CR.json
fr-LU.json
bs-Latn-BA.json
smj-SE.json
ar-MA.json
en-IE.json
es-PA.json
fr-MC.json
sr-Latn-BA.json
sma-NO.json
ar-TN.json
en-ZA.json
es-DO.json
sr-Cyrl-BA.json
sma-SE.json
ar-OM.json
en-JM.json
es-VE.json
bs-Cyrl-BA.json
sms-FI.json
ar-YE.json
en-029.json
es-CO.json
sr-Latn-RS.json
smn-FI.json
ar-SY.json
en-BZ.json
es-PE.json
sr-Cyrl-RS.json
ar-JO.json
en-TT.json
es-AR.json
sr-Latn-ME.json
ar-LB.json
en-ZW.json
es-EC.json
sr-Cyrl-ME.json
ar-KW.json
en-PH.json
es-CL.json
ar-AE.json
es-UY.json
ar-BH.json
es-PY.json
ar-QA.json
en-IN.json
es-BO.json
en-MY.json
es-SV.json
en-SG.json
es-HN.json
es-NI.json
es-PR.json
es-US.json

# Images
*.bmp
*.cif
*.dds
*.gif
*.hdr
*.img
*.jng
*.jp2
*.jpg
*.mng
*.pam
*.pcx
*.pfm
*.pgm
*.png
*.ppm
*.psd
*.tga
*.tif
*.xpm

# Audio
*.wav
*.mp3
*.mp4
*.flac
*.ogg

# Shared objects
*.dll
*.so
*.so.*
*.dylib
*.o

# Executables
*.exe
*.out
*.app
*.elf