# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.htm           text
*.html          text
*.js            text
*.json          text
*.rc            text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.dll           binary
*.gif           binary
*.ico           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.zip           binary
*.res           binary
*.xml           binary
*.o             binary